<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propiedades de Vue.js </title>
</head>
<body style="padding-bottom: 20em;""> 

    <div id="propiedadesApp">
       
        <h1>Propiedades de Vue.js</h1>
            <h3>Propiedades Computadas</h3>
            <p>
                <input 
                type="text"
                placeholder="precio del dolar"
                v-model = "precioDolar">
            </p>
            <h4>El monto total a pagar es de: {{ montoPagar }} </h4>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos facere ex laudantium tempore. Reiciendis labore, porro distinctio delectus iusto deleniti repellat commodi quo! Nulla velit molestiae libero dolorem perspiciatis. Perspiciatis.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos facere ex laudantium tempore. Reiciendis labore, porro distinctio delectus iusto deleniti repellat commodi quo! Nulla velit molestiae libero dolorem perspiciatis. Perspiciatis.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos facere ex laudantium tempore. Reiciendis labore, porro distinctio delectus iusto deleniti repellat commodi quo! Nulla velit molestiae libero dolorem perspiciatis. Perspiciatis.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos facere ex laudantium tempore. Reiciendis labore, porro distinctio delectus iusto deleniti repellat commodi quo! Nulla velit molestiae libero dolorem perspiciatis. Perspiciatis.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos facere ex laudantium tempore. Reiciendis labore, porro distinctio delectus iusto deleniti repellat commodi quo! Nulla velit molestiae libero dolorem perspiciatis. Perspiciatis.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos facere ex laudantium tempore. Reiciendis labore, porro distinctio delectus iusto deleniti repellat commodi quo! Nulla velit molestiae libero dolorem perspiciatis. Perspiciatis.</p>

            <h4>Total: {{ montoPagar }}</h4>
            <h4>Total: {{ SumarVentas() }} </h4> 
           

           <h3>Propiedades Observadas</h3>
           <p>
            <input 
                type="text"
                placeholder ="Buscar producto..."
                v-model="kwarg"
            >
            <ul>
                <li v-for ="producto in BuscarProducto()">{{producto}}</li>
            </ul>
           </p>

           <h3>Diferencias entre propiedades Computadas y Observadas</h3>
           
           <p>
            <input 
            type="text"
            placeholder="Nombre..."
            v-model="full_name">
           </p>
           
           <p>
            <input 
            type="text"
            placeholder="Direccion..."
            v-model="direccion">
           </p>

           <p>
            <textarea
            cols="30"
            rows="10"
            placeholder="Comprobante..."
            v-model="comprobante"
            ></textarea>
           </p>

    </div>

    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
    <script src="propiedades.js"></script>
         

</body>
</html>